.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 54%;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 16px 0;
  overflow-y: auto;
}

.create_order {
  display: flex;
  justify-content: end;
  gap: 40px;
}
