.modal {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
  position: relative;
  max-width: 60%;
  background-color: var(--background-alt);
  border-radius: 10px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
