.one_ingredients {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.ingredient_name {
  margin-top: 0;
  text-align: center;
}

.link {
  color: inherit;
  text-decoration: none;
}
